{% load static %}
<section id="service">
      <div class="container pr-5 pl-5 mt-0 pt-70 pb-10 mb-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-12">
              <h2 class="mt-0 line-height-1 text-center text-uppercase mb-10 text-black-333">Our <span class="text-theme-color-2"> Service</span></h2>
              <p class="pb-20">Hexcodeplus Technologies is an innovative startup company that supplying a turn-key solution in electronics industry 
                based upon<br>the latest technology and utilizing Web-based applications in the field of circuit design and PCB printing.</p>
              <!-- Works Filter -->
              <div class="portfolio-filter text-center mb-40" data-link-with="grid-petcare-gallery">
                  <a href="#" class="active mb-sm-10" data-filter="*">All</a>
                  <a href="#computer" class="" data-filter=".computer">Robotics</a>
                  <a href="#languages" class="" data-filter=".languages">E-Components</a>
                  <a href="#law" class="" data-filter=".law">Custom Product</a>
                  <a href="#science" class="" data-filter=".science">PCB Design</a>
                  <a href="#arts" class="" data-filter=".arts">Project Assistance</a>
                  <a href="#training" class="" data-filter=".training">Training Class</a>
              </div>
              <!-- End Works Filter -->

              <!-- Portfolio Gallery Grid -->
              <div id="grid-petcare-gallery" class="gallery-isotope grid-4 gutter clearfix">

                <!-- Portfolio Item Start -->
                <div class="gallery-item computer">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/ROBOT1.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>Robotics</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">Robotics</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">Our Robots</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item computer">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/ROBOT2.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>Robotics</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">Robotics</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">AI & ML Robots </a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item languages">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/E-Components1.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>Electronics Components</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">Electronics Components</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">Sensors</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item languages">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/E-Components2.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>Electronics Components</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">Electronics Components</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">MicroControllers</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item languages">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/E-Components3.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>Electronics Components</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">Electronics Components</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">Training Kit</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item law">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/CustomProduct1.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>Custom Product Design</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">Custom Product Design</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">Power Electronics</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item law">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/CustomProduct2.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>Custom Product Design</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">Custom Product Design</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">Medical Electronics</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item science">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/PCB-Design2.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>PCB Design & Fabrication</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">PCB Design & Fabrication</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">Macro Boards</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item science">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/PCB-Design1.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>PCB Design & Fabrication</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">PCB Design & Fabrication</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">Micro Boards</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item science">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/PCB-Design3.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>PCB Design & Fabrication</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">PCB Design & Fabrication</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">PCB Printing</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item science">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/PCB-Design4.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>PCB Design & Fabrication</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">PCB Design & Fabrication</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">PCB Drawing</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item arts">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/ProjectAssistance1.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>Project Assistance</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">Project Assistance</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">Industrial Project </a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item arts">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/ProjectAssistance2.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>Project Assistance</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">Project Assistance</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">Academic Project</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item training">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/c11.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>Training Class</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">Job Oriented Training Class</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">Training Class</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item training">
                  <div class="item">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="{% static 'images/project/c12.jpg' %}">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>Training Class</span> </a>
                        </div>
                      </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h5 class="font-14 font-weight-500 mb-5">Free Training Class</h5>
                    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">Training Class</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->


              </div>
              <!-- End Portfolio Gallery Grid -->
            </div>
          </div>
        </div>
      </div>
    </section>
